/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */


@font-face {
    src: url(fonts/HelveticaNowDisplay-ExtraBold.ttf);
    font-family: Now;

}
@font-face {
    src: url(fonts/HelveticaNowDisplay-Bold.ttf);
    font-family: Now2;

}
@font-face {
    src: url(fonts/HelveticaNowDisplay-Medium.ttf);
    font-family: NowM;

}
@font-face {
    src: url(fonts/HelveticaNowDisplay-Regular.ttf);
    font-family: NowR;

}

#container {
    width: 100%;
    height: 3800px;
    background-color:rgb(12, 12, 12) ;
}

#verytop{
    width:100%;
    height:160px;
    background-color: rgb(12, 12, 12);
}

#hamburger {
    top:58px;
    right:0;
    width:20%;
    height:70px;
    float:right;
    position:absolute;
}

ham {
    width: 40px;
    height: 5px;
    background-color: rgb(253, 253, 253);
    margin-right:20%;
    float:right;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: null;
    bottom:0;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-y: hidden;
    transition: 0.5s;
} 
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.header {
    width:100%;
    float:left;
    z-index: 1;
    position:relative;
}

.headerimg{
    background-image:url(images/logo.png);
    background-size:cover;
    height:75px;
    width:55px;
    top:46.5px;
    left:3.5%;
    position:absolute;
}

.headertext{
    top:50px;
    left:10%;
    color:white;
    font-size:35px;
    font-family:Now;
    position:absolute;
    letter-spacing:1px;
}

  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

#block1 {
    width:100%;
    height:1000px;
    position:relative;
}

#block1text{
    font-family: Now2, arial;
    font-size:80px;
    color:rgb(255, 255, 255);
    left:2.8%;
    top:180px;
    position:absolute;
}

#image1 {
    width:100%;
    height:1000px;
    background-image: url(images/space2.png);
    background-position:50% 70%;
    background-size: cover;

}

#title1 {
    width:100%;
    height:400px;
    background-color: rgb(12, 12, 12);
    position:relative;
}
.title1text{
    position:absolute;
    font-family: Now, arial;
    font-size:70px;
    line-height: 470%;
    color:white;
    top:40px;
    left:2.8%;
}
#block2 {
    width:100%;
    height:1200px;
    background-color: rgb(12, 12, 12);
}

#rectangle1 {
    width:100%;
    height:10%;
    background-color: rgb(12, 12, 12);
    position:relative;
}
#rectangle2 {
    width:100%;
    height:600px;
    background-color: rgb(12, 12, 12);
}

#a1 {
    padding-top:50%;
    width:45.7%;
    margin:2.8%;
    margin-top:4%;
    float:left;
    background-image: url(images/3D.jpg);
    background-position:50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    
}
.atextdate {
    position:absolute;
    top: 40px;
    left: 8%;
    color:white;
    font-size:20px;
    font-family: NowM;
    color:rgb(95, 89, 89);
    line-height: 150%;
    letter-spacing:8px;
}
.atext {
    position:absolute;
    top: 70px;
    left: 8%;
    color:rgb(27, 26, 26);
    font-size:47px;
    font-family: Now;
    line-height: 150%;
    letter-spacing:-1px;
  }

#a2 {
    padding-top:50%;
    width:45.7%;
    margin:2%;
    margin-left:0;
    margin-top:4%;
    float:left;
    background-image: url(images/stairs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

#b1 {
    padding-top:50%;
    width:45.7%;
    margin:2.8%;
    margin-top:0%;
    float:left;
    background-image: url(images/whale.png);
    background-position:50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
#b2 {
    padding-top:50%;
    width:45.7%;
    margin:2%;
    margin-left:0;
    margin-top:0%;
    float:left;
    background-color:gray;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

#footer {
    width:100%;
    /*height:500px;  */
    height:300px;
    background-color: yellow;
    float:left;
}

.footertext{
    margin-top:100px;
    width:80%;
    /*width:30%;
    height:340px; */
    float:left;
}
.innerfootertext{
    font-family:Now;
    font-size:40px;
    color:rgb(12, 12, 12)
}

#actualfooter{
    width:100%;
    height:200px;
    background-color: yellow;
    float:left;
    position:relative;
}

#actualfooterimg{
    background-image:url(images/logo.png);
    background-size:cover;
    height:75px;
    width:55px;
    left:2.8%;
    position:absolute;
}
.actualfootertext{
    font-family:NowM;
    font-size:20px;
    left:10%;
    top:10px;
    position:absolute;
    line-height:140%;
}
